/* CSS STARTRS ( Custom Sidebar or Custom Footer Sidebar By Tamim Ahmed ) */

.footer-item {
float: left;
width: 33%;
padding-bottom: 10px;
}
.footer-item ul {
padding-left: 15px;
}

/* CSS ENDS ( Custom Sidebar or Custom Footer Sidebar By Tamim Ahmed ) */
